<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Categories</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="nav_bar">
            <h1>Category Setup</h1>
            <a class="back" href="/games/select">Back</a>
        </div>
        <div id="category_box">
            <div class="inner_boxes">
                <p>Current categories:</p>
                <p style="font-style: italic;">(click to add a question)</p>
                <p><a href="#">Science</a></p>
                <p><a href="#">Math</a></p>
                <p><a href="#">History</a></p>
                <!-- list of game categories all -->
            </div>
            <div class="inner_boxes">
                <p>Add category</p>
                <form action="#" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="game_id">
                    <input type="text" name="name">
                    <input type="submit" value="Add">
                </form>
            </div>
        </div>
    </div>
</body>
</html>