<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gameboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="game_wrapper">
        <div class="nav_bar">
            <h1>Gameboard: {{ game.title }}</h1>
            <a class="back" href="{% url 'main_select' %}">Exit Game</a>
        </div>

        <div style="display: flex; justify-content: space-evenly;">

        <!-- hide gameboard until there is a player to score -->
        {% if 'player_count' not in request.session %}

        {% else %}
            <div class="play_box">
                <!-- display the winner when the game is over -->
                {% if game_over %}
                    {% if request.session.player_count == 1 %}
                        <div id="game_over">
                            <h2>Game Over</h2>
                            <h3>Score: {{ request.session.score_1 }}</h3>
                        </div>
                    {% else %}
                        <div id="game_over">
                            <h2>Game Over</h2>
                            <h3>{{ winner }} Wins!!!</h3>
                        </div>
                    {% endif %}
                {% endif %}

                <!-- show the game board and enable play -->
                {% for category in categories %}
                    <div class="cat_box">
                        <h2 class="cat_title">{{ category.name }}</h2>
                        {% for question in category.question_list.all|dictsort:"points" %}
                            {% if not question.played %}
                                <div class="ques_box">
                                    <h3><a class="q_link" href="{% url 'show_ques' question.id %}">{{ question.points }}</a></h3>
                                </div>
                            {% else %}
                                <div class="played">
                                    <h3><p class="played_text">{{ question.points }}</p></h3>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

            <!-- box for adding players and keeping score -->
            <div class="player_box">
                {% if 'player_1' in request.session and 'player_2' in request.session %}
                    <h3>{{ request.session.player_1 }}</h3>
                    <h4>Score: {{ request.session.score_1 }}</h4>
                    <h3>{{ request.session.player_2 }}</h3>
                    <h4>Score: {{ request.session.score_2 }}</h4>
                {% elif 'player_1' in request.session %}
                    <h3>{{ request.session.player_1 }}</h3>
                    <h4>Score: {{ request.session.score_1 }}</h4>
                {% else %}
                    <h3>[Need a Player]</h3>
                    <h4>Score: </h4>
                {% endif %}
                <hr style="margin-bottom: 20px;">
                <form action="{% url 'add_player' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="game_id" value="{{ game.id }}">
                    <label for="player_name">Add a Player</label>
                    <p><input class="input" type="text" name="player_name"></p>
                    <p><input class="add" type="submit" value="Add"></p>
                </form>
            </div>
        </div>
    </div>
    <p></p>
</body>
</html>