<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Question</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="nav_bar">
            <h1>Question Setup</h1>
            <a class="back" href="/games/categories">Back</a>
        </div>
        <div id="question_box">
            <div class="inner_boxes">
                <p>Current questions:</p>
                {% for question in category.question_list.all %}
                    <p>({{ question.points }} pts) <a href="/games/questions/{{ question.id }}">{{ question.question }}</a></p>
                {% endfor %}
            </div>
            <div class="inner_boxes">
                <h3>Add question</h3>
                <form action="/games/questions/new" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="cat_id" value="{{ category.id }}">
                    <p><label>Type question:</label></p>
                    <textarea name="question" cols="30" rows="4"></textarea>

                    <p><label>Type answer:</label></p>
                    <input type="text" name="answer">
                    
                    <p><label>Assign a point value:</label></p>
                    <input type="number" name="points">
                    
                    <input type="submit" value="Add">
                </form>
            </div>
        </div>
    </div>
</body>
</html>