<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="nav_bar">
            <h1>{{ category.game_assigned.title }}</h1>
            <h2>{{ question.category_assigned.name }} - {{ question.points }}pts</h2>
            <a class="back" href="/games/categories/{{ category.id }}">Back</a>
        </div>
        <div class="inner_boxes">
            <p>{{ question.question }}</p>
        </div>
    </div>
</body>
</html>