<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="nav_bar">
            <h1>{{ category.game_assigned.title }}</h1>
            <h2>{{ question.category_assigned.name }} - {{ question.points }}pts</h2>
            {% if category.game_assigned.is_active %}
                <a class="back" href="{% url 'play' category.game_assigned.id %}">Back</a>
            {% else %}
                <a class="back" href="{% url 'show_cat_qs' category.id %}">Back</a>
            {% endif %}
        </div>
        <div class="title_box">
            <div class="question_box">
                <div class="ques_box_left">
                    <p class="ques_text">{{ question.question }}</p>
                </div>
    
                {% if category.game_assigned.is_active %}
                    <div class="ques_box_right">
                        <form action="{% url 'answer' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="question_id" value="{{ question.id }}">
                            <label><p style="margin-top: 10px;">Answer:</p></label>
                            <input class="input" type="text" style="margin-bottom: 10px; width: 95%;" name="answer">
                            <input class="back" type="submit" value="Submit">
                        </form>
                        <hr>
                        <div style="display: flex; justify-content: space-evenly;">
                            <a href="{% url 'correct' question.id %}" class="add">Correct</a>
                            <a href="{% url 'incorrect' question.id %}" class="delete">Incorrect</a>
                        </div>
                    </div>
    
                {% else %}
                    <div class="ques_box_right">
                        <p class="ques_text">Answer:</p>
                        <p class="ques_text">{{ question.answer }}</p>
                    </div>
    
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>