<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Gameboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="nav_bar">
            <h1>Gameboard Setup</h1>
            <div>
                <!-- <a style="margin-right: 10px;" href="/games/categories">Category Manager</a>
                <a href="/games/questions">Question Manager</a> -->
                <a class="back" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
        {% if messages %}
            <ol id="messages">    
                {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
                <button class="delete" onclick="messages.remove()">Okay</button>
            </ol>
        {% endif %}
        <div class="title_box">
            <div id="select_game">
                <div class="inner_boxes">
                    <h3><label for="game_id">Select existing gameboard</label></h3>
                    <form action="{% url 'select_game' %}" method="post">
                        {% csrf_token %}
                        <select class="input" name="game_id" id="game_id">
                            <option value="0"></option>
                            {% for game in all_games %}
                                <option value="{{ game.id }}">{{ game.title }}</option>
                            {% endfor %}
                        </select>
                        <input class="add" type="submit" value="Select">
                    </form>
                </div>
                <div class="inner_boxes">
                    <h3>Build a new gameboard</h3>
                    <form action="{% url 'new_game' %}" method="post">
                        {% csrf_token %}
                        <label>Game title:
                            <input class="input" type="text" name="title">
                        </label>
                        <input class="add" type="submit" value="Build">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>