body {
    margin: auto 0px;
    padding: 0px;
}

.wrapper {
    width: 900px;
    border: 1px solid black;
}

#select_game, #category_box {
    border: 1px solid red;
    display: flex;
    align-items: center;
    margin: 10px;
}