<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register and Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user_style.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="nav_bar">
            <h1>Build-Your-Own Quiz Show</h1>
        </div>
        {% if messages %}
            <ol id="messages">    
                {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
                <button class="delete" onclick="messages.remove()">Okay</button>
            </ol>
        {% endif %}
        {% if request.session.email_error %}
            <div id="email_error">
                <p>{{ request.session.email_error }}</p>
                <button class="delete" onclick="email_error.remove()">Okay</button>
            </div>
        {% endif %}
        {% if request.session.password_error %}
            <div id="password_error">
                <p>{{ request.session.password_error }}</p>
                <button class="delete" onclick="password_error.remove()">Okay</button>
            </div>
        {% endif %}
        <div id="register">
        <div class="title_box">
            <div id="select_game">
                <div class="inner_boxes">
                    <h3>Register</h3>
                    <form action="{% url 'register' %}" method="post">
                        {% csrf_token %}
                        <div class="form_field">
                            <label>First Name:</label>
                            <input class="input" type="text" name="first_name">
                        </div>
                        <div class="form_field">
                            <label>Last Name:</label>
                            <input class="input" type="text" name="last_name">
                        </div>
                        <div class="form_field">
                            <label>Email:</label>
                            <input class="input" type="email" name="email">
                        </div>
                        <div class="form_field">
                            <label>Password:</label>
                            <input class="input" type="password" name="password">
                        </div>
                        <div class="form_field">
                            <label>Confirm:</label>
                            <input class="input" type="password" name="confirm">
                        </div>
                        <input class="add" type="submit" value="Register">
                    </form>
                </div>
                <div class="inner_boxes">
                    <h3>Login</h3>
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="form_field">
                            <label>Email:</label>
                            <input class="input" type="email" name="email">
                        </div>
                        <div class="form_field">
                            <label>Password:</label>
                            <input class="input" type="password" name="password">
                        </div>
                        <input class="add" type="submit" value="Login">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>