<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register and Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user_style.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="nav_bar">
            <h1>Build-Your-Own Quiz Show</h1>
        </div>
        <div class="title_box">
            <div id="select_game">
                <div class="inner_boxes">
                    <h3>Register</h3>
                    <form action="{% url 'register' %}" method="post">
                        {% csrf_token %}
                        <label>First Name</label>
                        <input class="input" type="text" name="first_name">
                        <label>Last Name</label>
                        <input class="input" type="text" name="last_name">
                        <label>Email:</label>
                        <input class="input" type="email" name="email">
                        <label>Password:</label>
                        <input class="input" type="password" name="password">
                        <label>Confirm Password:</label>
                        <input class="input" type="password" name="confirm_password">
                        <input class="add" type="submit" value="Register">
                    </form>
                </div>
                <div class="inner_boxes">
                    <h3>Login</h3>
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <label>Email:</label>
                        <input class="input" type="email" name="email">
                        <label>Password:</label>
                        <input class="input" type="password" name="password">
                        <!-- <label>Confirm Password:</label>
                        <input type="password" name="confirm_password"> -->
                        <input class="add" type="submit" value="Login">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>